<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="/css/style.css">
	<title>Document</title>
</head>

<body>
	<header class="header">
		<!-- <div class="header-border"></div> -->
		<div class="container">
			<div class="header-left">
				<div class="header-logo"></div>
				<span class="header-title">Translation service</span>
			</div>
			<div class="header-right">
				<div class="header-menu">
					<a class="header-menu-button" href="#">도움말</a>
					<a class="header-menu-button" href="https://ciceron.me">번역 의뢰</a>
					<select class="header-menu-language">
						<option>한국어</option>
						<option>English</option>
						<option>중국어</option>
						<option>~~어</option>
					</select>
				</div>
			</div>
		</div>
	</header>
	<div class="container">
		<h1>번역 요청</h1>
		<table>
			<tr>
				<td>작성자</td>
				<td>
					<div class="loader"></div>
				</td>
			</tr>
			<tr>
				<td>원문 언어</td>
				<td>
					<div class="loader"></div>
					<!-- <select>
						<option value="">한국어</option>
						<option value="">영어</option>
						<option value="">일본어</option>
					</select> -->
				</td>
			</tr>
			<tr>
				<td>번역 언어</td>
				<td>
					<select>
						<option value="">영어</option>
						<option value="">한국어</option>
						<option value="">일본어</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>예상 수익</td>
				<td>
					<div class="loader"></div>
				</td>
			</tr>
			<tr>
				<td>번역 비용</td>
				<td>
					<div class="loader"></div>
				</td>
			</tr>
			<tr>
				<td>
					&nbsp;
				</td>
				<td>
					&nbsp;
				</td>
			</tr>
			<tr>
				<td>의뢰자</td>
				<td>
					<input type="text" value="@ffff.ccc" readonly>
				</td>
			</tr>
			<tr>
				<td>이메일</td>
				<td>
					<input type="email">
				</td>
			</tr>
		</table>
		<button>
			제출
		</button>
	</div>
</body>

</html>