@media screen {
    * {
        margin: 0px;
        outline: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
    }
    img {
        border: none;
    }
    textarea {
        resize: none;
    }
    html {
        height: 100%;
        width: 100%;
        padding: 0px;
    }
    body * {
        overflow: hidden;
    }
    body {
        margin: 0px;
        padding: 0px;
        height: 100%;
        width: 100%;
        /* font-family: 'Dosis', 'Noto Sans KR', sans-serif; */
        font-family: sans-serif;
        font-size: 16px;
        overflow-x: hidden;
        padding-top: 140px;
    }
    .header {
        width: 100%;
        height: 60px;
        position: fixed;
        top: 0;
        left: 0;
        box-shadow: 1px 1px 5px 0px rgba(180, 180, 180, 0.75);
        padding: 0 5px;
    }
    .header .container {
        height: 100%;
    }
    .header .header-left {
        float: left;
    }
    .header .header-right {
        float: right;
    }
    .header .header-border {
        width: 100%;
        height: 3px;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        background: #1fbf8f;
        background: -moz-linear-gradient(left, #1fbf8f 0%, #07b3e7 100%);
        background: -webkit-linear-gradient(left, #1fbf8f 0%, #07b3e7 100%);
        background: linear-gradient(to right, #1fbf8f 0%, #07b3e7 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1fbf8f', endColorstr='#07b3e7', GradientType=1);
    }
    .header .header-logo {
        width: 60px;
        height: 60px;
        display: inline-block;
        background-position: 50% 50%;
        background-size: auto 50%;
        /* background-color: #1fbf8f; */
        background-image: url(/img/icons/icon.png);
        background-repeat: no-repeat;
        cursor: pointer;
        vertical-align: middle;
    }
    .header .header-title {
        font-size: 1.4em;
        font-weight: 100;
        vertical-align: middle;
    }
    .header .header-menu {
        width: auto;
        height: 100%;
    }
    .header .header-menu * {
        line-height: 60px;
        vertical-align: middle;
        display: inline-block;
    }
    .header .header-menu .header-menu-button {
        width: auto;
        height: 100%;
        margin-right: 1em;
        cursor: pointer;
        text-decoration: none;
        color: #333;
    }
    .header .header-menu .header-menu-language {
        width: auto;
        height: auto;
        padding: 5px 10px;
    }
    .container {
        width: 100%;
        height: auto;
        position: relative;
        max-width: 1000px;
        margin: 0 auto;
        /* border: 1px solid #788187;
		border-radius: 20px;
		padding: 20px;
		margin-top: 40px; */
    }
    h1 {
        font-weight: 100;
        margin-bottom: 2em;
    }
    table {
        width: 100%;
        max-width: 500px;
        margin-bottom: 3em;
    }
    table tr {
        width: 100%;
    }
    table tr td {
        padding: 10px 10px;
    }
    table tr:nth-child(2n - 1) {
        background-color: #f6f6f6;
    }
    table tr td:first-child {
        /* width: 20%; */
        font-weight: 700;
        white-space: nowrap;
        padding-right: 20px;
    }
    table tr td:last-child {
        width: 100%;
    }
    button {
        width: auto;
        height: auto;
        padding: .8em 2em;
        border: none;
        background: #07b3e7;
        /* background: -moz-linear-gradient(left, #07b3e7 0%, #1fbf8f 100%);
		background: -webkit-linear-gradient(left, #07b3e7 0%, #1fbf8f 100%);
		background: linear-gradient(to right, #07b3e7 0%, #1fbf8f 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#07b3e7', endColorstr='#1fbf8f', GradientType=1); */
        color: #fcfcfc;
        font-size: 16px;
        cursor: pointer;
        transition: all .3s ease-in-out;
    }
    button:hover {
        color: #fff;
        background: rgba(7, 179, 231, .8);
        /* background: #1fbf8f; */
        /* background: -moz-linear-gradient(left, #1fbf8f 0%, #07b3e7 100%);
		background: -webkit-linear-gradient(left, #1fbf8f 0%, #07b3e7 100%);
		background: linear-gradient(to right, #1fbf8f 0%, #07b3e7 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1fbf8f', endColorstr='#07b3e7', GradientType=1); */
    }
    select {
        width: auto;
        height: auto;
        padding: 5px 10px;
    }
    .loader {
        border: 2px solid #fff;
        border-radius: 50%;
        border-top: 2px solid #07b3e7;
        border-left: 2px solid #07b3e7;
        width: 16px;
        height: 16px;
        -webkit-animation: spin .5s linear infinite;
        animation: spin .5s linear infinite;
    }
    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
    }
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}